*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family: 'Alegreya Sans', sans-serif;
}
div{
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.container{
  position:relative;
  width:100%;
  min-height:100vh;
  background:url("https://images.unsplash.com/photo-1589112053969-11e4dec7f699?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ") no-repeat center center/cover;
  color:#f2f2f2;
  text-align:center;
}
h1{
  padding:20px;
  margin-bottom: 60px;
  margin-top: -20px;
  font-size:3em;
  color:#eee;
  text-shadow:-2px 4px 3px black,
               -1px 3px 2px black;
}
#quote-box{
  padding:20px;
  width: 550px;
  background:#0f3085;
  min-height: 60vh;
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
  align-items:center;
  box-shadow: -3px 8px 16px -5px rgba(0,0,0,0.75);
  border-radius:10px;
  position:relative;
  color:#fff;
  opacity:0.85;
  transition:all 1s;
}
#quote-box img{
  position:absolute;
  top:0px;
  left:42%;
  width:90px;
  margin-top:30px;
}
.quote{
  min-height:75%;
  font-size:1.1rem;
  margin-top:25%;
}
#text{
  font-size:1.7rem;
  transition: all 1s;
  margin-top:20px;
}
#author{
  padding:10px;
}
.buttons{
  flex-direction:row;
  width: 100%;
  justify-content: space-evenly;
}
.buttons button{
  cursor:pointer;
  background:#fecf3b;
  margin:10px;
  padding:10px 20px;
  color:#000201;
  font-weight:bold;
  border-radius:20px;
  box-shadow: -3px 8px 16px -5px rgba(0,0,0,0.75);
  border:0;
  outline:0;
  font-size:1.3em;
  transition: all 0.2s;
}
.buttons button:active{
  box-shadow:-5px 10px 10px -15px rgba(0,0,0,0.75);
}
a{
  text-decoration:none;
  color:#000201;
}
@media only screen and (max-width: 500px) {
  #quote-box{
    width:80%;
  }
  .quote{
    margin-top:30%;
  }
  .buttons button{
    font-size:1.1em;
  }
  #text{
    font-size:1.5rem;
  }
  #quote-box img{
    left:38%;
    margin-bottom:10px;
    width:70px;
  }
}